[Unit]
Description=Lasitan-Cluster tunnel (%i)
Documentation=file:///usr/share/doc/lasitan-cluster/README.Debian
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=LOG_LEVEL=error
ExecStart=/usr/bin/lasitan-cluster -f %i
Restart=on-failure
RestartSec=2
TimeoutStopSec=10
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
