[Unit]
Description=Lasitan-Cluster Master (mesh control plane)
Documentation=file:///usr/share/doc/lasitan-cluster/README.Debian
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=LOG_LEVEL=error
ExecStart=/usr/bin/lasitan-cluster master
Restart=on-failure
RestartSec=2
TimeoutStopSec=10
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
