[Interface]
PrivateKey = REPLACE_WITH_PRIVATE_KEY_BASE64
Address = 10.0.0.1/24
ListenPort = 25565
MTU = 1420

[Peer]
PublicKey = REPLACE_WITH_PEER_PUBLIC_KEY_BASE64
AllowedIPs = 10.0.0.2/32
# Built-in TCP proxy: public listen -> peer VPN IP
#   25565              -> peer:25565
#   8080:80            -> peer:80
# Multiple forwards: comma or semicolon separated
# ForwardTCP = 25565, 8080:80
# ForwardUDP = 19132
# OnUp / OnDown shell hooks optional
